.page {
    width: 850px;
    margin: auto;
    background-color: white;
}

body {
    background-color: white;
}

.vis-container {
    width: 80%;
    margin: 5px;
}

#titleblock {
    border-radius: 10px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

#subtitleblock {
    border-radius: 10px;
    background-color: lightgray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

.pure-u-1-1 {
    text-align: center;
}